.carousel-inner .carousel-item {
    display: none;
}

.carousel-inner .carousel-item.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    color: black !important;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev {
    left: -55px;
}

.carousel-control-next {
    right: -55px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.carousel-indicators li {
    position: relative;
    bottom: -50px;
    background-color: #ccc;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    list-style: none;
}

.carousel-indicators li.active {
    background-color: #333;
}

.carousel-control-prev[disabled],
.carousel-control-next[disabled] {
    pointer-events: none;
}

.btn-liked {
    background-color: green !important;
    color: white;
}
.btn-disliked {
    background-color: red !important;
    color: white;
}

/* view_my_requests.php */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #343a40 !important;
}
.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #ffffff !important;
}
.table-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
}
.table-title {
    background-color: #007bff;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    margin: 0;
}
.table-wrapper {
    overflow-x: auto;
}
.table {
    margin-bottom: 0;
}
.table th, .table td {
    border-top: none !important;
    vertical-align: middle !important;
}
.table th {
    background-color: #343a40;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.table th, .table td {
    border-bottom: 1px solid #dee2e6;
}
.btn {
    border-radius: 20px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-primary, .btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    transform: translateY(-2px);
}
.btn-success, .btn-success:hover {
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:hover {
    transform: translateY(-2px);
}
.btn-danger, .btn-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    transform: translateY(-2px);
}